@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .chess {
    width: 800px;
    height: 800px;
    display: flex;
    border: 1px solid black;
    flex-direction: column;

    .chess-row {
      display: flex;
      flex: 1;

      .chess-col {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        img {
          transform: scale(1.5,1.5);
        }
        flex: 1;
      }
    }
  }

}